In [34]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [36]:
df_1 = pd.read_csv(r'C:\Users\Cecilia\Downloads\ironhack\coursework\group_work\group_project_week5_6\second_project\data\clean\df_merged.csv')
df_2 = pd.read_csv(r'C:\Users\Cecilia\Downloads\ironhack\coursework\group_work\group_project_week5_6\second_project\data\raw\df_final_web_data_pt_1.txt')
df_3 = pd.read_csv(r'C:\Users\Cecilia\Downloads\ironhack\coursework\group_work\group_project_week5_6\second_project\data\raw\df_final_web_data_pt_2.txt')
merged_df = pd.concat([df_2, df_3], axis=0)

df_merged = df_1.merge(merged_df, on='client_id', how='inner')
df_merged['date_time'] = pd.to_datetime(df_merged['date_time'])
df_merged

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gender,num_accts,balance,calls_6_mnth,logons_6_mnth,variation,visitor_id,visit_id,process_step,date_time
0,836976,6.0,73.0,60.5,Unknown,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13
1,836976,6.0,73.0,60.5,Unknown,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50
2,836976,6.0,73.0,60.5,Unknown,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45
3,836976,6.0,73.0,60.5,Unknown,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08
4,836976,6.0,73.0,60.5,Unknown,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321182,7468138,18.0,222.0,61.0,Female,3.0,209278.15,0.0,3.0,Test,317123960_46820919455,769876461_30381166055_830233,step_2,2017-03-30 23:59:15
321183,7468138,18.0,222.0,61.0,Female,3.0,209278.15,0.0,3.0,Test,317123960_46820919455,769876461_30381166055_830233,step_1,2017-03-30 23:58:51
321184,7468138,18.0,222.0,61.0,Female,3.0,209278.15,0.0,3.0,Test,317123960_46820919455,769876461_30381166055_830233,start,2017-03-30 23:58:40
321185,7468138,18.0,222.0,61.0,Female,3.0,209278.15,0.0,3.0,Test,317123960_46820919455,769876461_30381166055_830233,start,2017-03-30 23:55:11
321186,7468138,18.0,222.0,61.0,Female,3.0,209278.15,0.0,3.0,Test,317123960_46820919455,769876461_30381166055_830233,start,2017-03-31 00:16:12

In [38]:
control_group = df_merged[df_merged['variation'] == 'Control']
test_group = df_merged[df_merged['variation'] == 'Test']

#Sort control group
control_group_sorted = control_group.sort_values(by=['client_id', 'visit_id', 'process_step', 'date_time'])

# Sort test group
test_group_sorted = test_group.sort_values(by=['client_id', 'visit_id', 'process_step', 'date_time'])

In [40]:
# Function to get latest starts
def filter_latest_starts(group_df):
    starts_only = group_df[group_df['process_step'] == 'start']
    latest_starts = starts_only.loc[starts_only.groupby('client_id')['date_time'].idxmax()]
    # Merge back to get the full process after the last start
    return df_merged.merge(latest_starts[['client_id', 'date_time']], on=['client_id', 'date_time'], how='inner')

# Apply to both groups
filtered_control = filter_latest_starts(control_group)
filtered_test = filter_latest_starts(test_group)

#Check if it works
client_total_entries = df_merged[df_merged["client_id"] == 2304905]
display(client_total_entries)
client_last_start = filtered_control[filtered_control['client_id'] == 2304905 ]
display(client_last_start)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gender,num_accts,balance,calls_6_mnth,logons_6_mnth,variation,visitor_id,visit_id,process_step,date_time
11,2304905,7.0,94.0,58.0,Unknown,2.0,110860.3,6.0,9.0,Control,336210275_56978226960,724930510_65323235593_692754,confirm,2017-05-21 11:07:16
12,2304905,7.0,94.0,58.0,Unknown,2.0,110860.3,6.0,9.0,Control,336210275_56978226960,724930510_65323235593_692754,step_3,2017-05-21 11:04:53
13,2304905,7.0,94.0,58.0,Unknown,2.0,110860.3,6.0,9.0,Control,336210275_56978226960,724930510_65323235593_692754,step_2,2017-05-21 11:04:04
14,2304905,7.0,94.0,58.0,Unknown,2.0,110860.3,6.0,9.0,Control,336210275_56978226960,724930510_65323235593_692754,step_1,2017-05-21 11:03:31
15,2304905,7.0,94.0,58.0,Unknown,2.0,110860.3,6.0,9.0,Control,336210275_56978226960,724930510_65323235593_692754,start,2017-05-21 11:03:25
16,2304905,7.0,94.0,58.0,Unknown,2.0,110860.3,6.0,9.0,Control,336210275_56978226960,724930510_65323235593_692754,start,2017-05-21 11:02:21

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gender,num_accts,balance,calls_6_mnth,logons_6_mnth,variation,visitor_id,visit_id,process_step,date_time
0,2304905,7.0,94.0,58.0,Unknown,2.0,110860.3,6.0,9.0,Control,336210275_56978226960,724930510_65323235593_692754,start,2017-05-21 11:03:25

In [42]:
import pandas as pd

# Assuming df_merged already contains the relevant columns, including 'clnt_age'
# Define the bins and labels for age groups
bins = [0, 30, 40, 50, 100]  # These bins categorize ages into 4 groups
labels = ['Under 30', '30-39', '40-49', '50 and above']  # Age group labels

# Apply the bins to categorize the 'clnt_age' column
df_merged['age_group'] = pd.cut(df_merged['clnt_age'], bins=bins, labels=labels)

# Display the first few rows of the DataFrame to check the new 'age_group' column
print(df_merged[['clnt_age', 'age_group']].head())

   clnt_age     age_group
0      60.5  50 and above
1      60.5  50 and above
2      60.5  50 and above
3      60.5  50 and above
4      60.5  50 and above

In [44]:
df_merged.head(10)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gender,num_accts,balance,calls_6_mnth,logons_6_mnth,variation,visitor_id,visit_id,process_step,date_time,age_group
0,836976,6.0,73.0,60.5,Unknown,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13,50 and above
1,836976,6.0,73.0,60.5,Unknown,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50,50 and above
2,836976,6.0,73.0,60.5,Unknown,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45,50 and above
3,836976,6.0,73.0,60.5,Unknown,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08,50 and above
4,836976,6.0,73.0,60.5,Unknown,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24,50 and above
5,836976,6.0,73.0,60.5,Unknown,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_1,2017-04-02 11:21:38,50 and above
6,836976,6.0,73.0,60.5,Unknown,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,start,2017-04-02 11:21:28,50 and above
7,836976,6.0,73.0,60.5,Unknown,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,104438405_2368283624_817211,start,2017-03-29 11:02:44,50 and above
8,836976,6.0,73.0,60.5,Unknown,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,104438405_2368283624_817211,start,2017-03-29 11:01:40,50 and above
9,836976,6.0,73.0,60.5,Unknown,2.0,45105.3,6.0,9.0,Test,427070339_1413275162,104438405_2368283624_817211,start,2017-03-29 10:59:43,50 and above

**Test group Completion Times**

In [47]:
import pandas as pd

df_merged['date_time'] = pd.to_datetime(df_merged['date_time'], errors='coerce')  # Coerce invalid formats to NaT

# Filter for the test group only
test_group = df_merged[df_merged['variation'] == 'Test']

# Sort by client_id and date_time to ensure chronological order of events
test_group = test_group.sort_values(by=['client_id', 'date_time'])

# Function to calculate completion time for each step in the test group
def calculate_completion_time(group_df):
    # Create a new column to store the completion time for each step
    group_df['next_step_time'] = group_df.groupby('client_id')['date_time'].shift(-1)
    
    # Only keep rows where the next step exists (i.e., not NaT)
    group_df = group_df.dropna(subset=['next_step_time'])
    
    # Calculate the completion time as the time difference between current and next step
    group_df['completion_time'] = group_df['next_step_time'] - group_df['date_time']
    
    return group_df[['client_id', 'process_step', 'date_time', 'next_step_time', 'completion_time']]

# Apply the function to the test group
test_group_completion_times = calculate_completion_time(test_group)

# Display the results
print(test_group_completion_times)

# Save the result to a CSV file
test_group_completion_times.to_csv('test_group_completion_times.csv', index=False)

C:\Users\Cecilia\AppData\Local\Temp\ipykernel_6272\1581245714.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group_df['completion_time'] = group_df['next_step_time'] - group_df['date_time']

        client_id process_step           date_time      next_step_time  \
255388        555        start 2017-04-15 12:57:56 2017-04-15 12:58:03
255387        555       step_1 2017-04-15 12:58:03 2017-04-15 12:58:35
255386        555       step_2 2017-04-15 12:58:35 2017-04-15 13:00:14
255385        555       step_3 2017-04-15 13:00:14 2017-04-15 13:00:34
9749          647        start 2017-04-12 15:41:28 2017-04-12 15:41:35
...           ...          ...                 ...                 ...
310089    9999729        start 2017-05-08 16:08:25 2017-05-08 16:08:30
310088    9999729       step_1 2017-05-08 16:08:30 2017-05-08 16:08:40
310087    9999729       step_2 2017-05-08 16:08:40 2017-05-08 16:09:19
310086    9999729       step_3 2017-05-08 16:09:19 2017-05-08 16:09:40
51309     9999832        start 2017-05-16 16:46:03 2017-05-16 16:46:11

       completion_time
255388 0 days 00:00:07
255387 0 days 00:00:32
255386 0 days 00:01:39
255385 0 days 00:00:20
9749   0 days 00:00:07
...                ...
310089 0 days 00:00:05
310088 0 days 00:00:10
310087 0 days 00:00:39
310086 0 days 00:00:21
51309  0 days 00:00:08

[150820 rows x 5 columns]

In [53]:
import pandas as pd

# Ensure 'date_time' is in datetime format
df_merged['date_time'] = pd.to_datetime(df_merged['date_time'], errors='coerce')  # Coerce invalid formats to NaT

# Filter for the control group only
control_group = df_merged[df_merged['variation'] == 'Control']

# Sort by client_id and date_time to ensure chronological order of events
control_group = control_group.sort_values(by=['client_id', 'date_time'])

# Function to calculate completion time for each step in the control group
def calculate_completion_time(group_df):
    # Create a new column to store the completion time for each step
    group_df['next_step_time'] = group_df.groupby('client_id')['date_time'].shift(-1)
    
    # Only keep rows where the next step exists (i.e., not NaT)
    group_df = group_df.dropna(subset=['next_step_time'])
    
    # Calculate the completion time as the time difference between current and next step
    group_df['completion_time'] = group_df['next_step_time'] - group_df['date_time']
    
    return group_df[['client_id', 'process_step', 'date_time', 'next_step_time', 'completion_time']]

# Apply the function to the control group
control_group_completion_times = calculate_completion_time(control_group)

# Display the results
print(control_group_completion_times)

# Save the result to a CSV file
control_group_completion_times.to_csv('control_group_completion_times.csv', index=False)

C:\Users\Cecilia\AppData\Local\Temp\ipykernel_6272\3051574082.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group_df['completion_time'] = group_df['next_step_time'] - group_df['date_time']

        client_id process_step           date_time      next_step_time  \
302407       1028        start 2017-04-08 18:51:28 2017-04-08 18:52:17
302406       1028       step_1 2017-04-08 18:52:17 2017-04-08 18:53:20
302405       1028       step_1 2017-04-08 18:53:20 2017-04-08 18:53:29
302404       1028       step_2 2017-04-08 18:53:29 2017-04-08 18:58:04
302403       1028       step_3 2017-04-08 18:58:04 2017-04-08 18:59:55
...           ...          ...                 ...                 ...
142953    9998346       step_1 2017-03-29 15:29:55 2017-03-29 15:30:11
142952    9998346       step_2 2017-03-29 15:30:11 2017-03-29 15:30:25
142951    9998346       step_3 2017-03-29 15:30:25 2017-03-29 15:37:28
142948    9998346       step_3 2017-03-29 15:37:28 2017-03-29 15:37:28
142949    9998346      confirm 2017-03-29 15:37:28 2017-03-29 15:37:28

       completion_time
302407 0 days 00:00:49
302406 0 days 00:01:03
302405 0 days 00:00:09
302404 0 days 00:04:35
302403 0 days 00:01:51
...                ...
142953 0 days 00:00:16
142952 0 days 00:00:14
142951 0 days 00:07:03
142948 0 days 00:00:00
142949 0 days 00:00:00

[119882 rows x 5 columns]

In [59]:
import pandas as pd

# Ensure 'date_time' is of datetime type
df_merged['date_time'] = pd.to_datetime(df_merged['date_time'], errors='coerce')  # Coerce invalid formats to NaT

# Filter for the control group only
control_group = df_merged[df_merged['variation'] == 'Control']

# Sort by client_id and date_time to ensure chronological order of events
control_group = control_group.sort_values(by=['client_id', 'date_time'])

# Function to calculate completion time for each step in the control group
def calculate_completion_time(group_df):
    # Create a new column to store the completion time for each step
    group_df['next_step_time'] = group_df.groupby('client_id')['date_time'].shift(-1)
    
    # Only keep rows where the next step exists (i.e., not NaT)
    group_df = group_df.dropna(subset=['next_step_time'])
    
    # Calculate the completion time as the time difference between current and next step
    group_df['completion_time'] = group_df['next_step_time'] - group_df['date_time']
    
    return group_df[['client_id', 'process_step', 'date_time', 'next_step_time', 'completion_time']]

# Apply the function to the control group
control_group_completion_times = calculate_completion_time(control_group)

# Group by process_step and calculate the average completion time for each step
average_completion_times = control_group_completion_times.groupby('process_step')['completion_time'].mean().reset_index()

# Display the average completion times
print(average_completion_times)

  process_step           completion_time
0      confirm 3 days 15:56:20.739548169
1        start 1 days 10:11:09.560954126
2       step_1 0 days 15:58:33.285787190
3       step_2 0 days 09:34:49.364355884
4       step_3 0 days 16:39:25.669293174

C:\Users\Cecilia\AppData\Local\Temp\ipykernel_6272\3832345684.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group_df['completion_time'] = group_df['next_step_time'] - group_df['date_time']

In [55]:
import pandas as pd

# Ensure 'date_time' is of datetime type
df_merged['date_time'] = pd.to_datetime(df_merged['date_time'], errors='coerce')  # Coerce invalid formats to NaT

# Filter for the test group only
test_group = df_merged[df_merged['variation'] == 'Test']

# Sort by client_id and date_time to ensure chronological order of events
test_group = test_group.sort_values(by=['client_id', 'date_time'])

# Function to calculate completion time for each step in the test group
def calculate_completion_time(group_df):
    # Create a new column to store the completion time for each step
    group_df['next_step_time'] = group_df.groupby('client_id')['date_time'].shift(-1)
    
    # Only keep rows where the next step exists (i.e., not NaT)
    group_df = group_df.dropna(subset=['next_step_time'])
    
    # Calculate the completion time as the time difference between current and next step
    group_df['completion_time'] = group_df['next_step_time'] - group_df['date_time']
    
    return group_df[['client_id', 'process_step', 'date_time', 'next_step_time', 'completion_time']]

# Apply the function to the test group
test_group_completion_times = calculate_completion_time(test_group)

# Group by process_step and calculate the average completion time for each step
average_completion_times = test_group_completion_times.groupby('process_step')['completion_time'].mean().reset_index()

# Display the average completion times
print(average_completion_times)

  process_step           completion_time
0      confirm 4 days 01:21:08.606944811
1        start 1 days 03:42:14.554952723
2       step_1 0 days 11:55:38.837214944
3       step_2 0 days 05:53:23.973691999
4       step_3 0 days 09:09:14.330464854

C:\Users\Cecilia\AppData\Local\Temp\ipykernel_6272\706682172.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group_df['completion_time'] = group_df['next_step_time'] - group_df['date_time']

In [61]:
import pandas as pd
import numpy as np

# Ensure 'date_time' is of datetime type
df_merged['date_time'] = pd.to_datetime(df_merged['date_time'], errors='coerce')

# Filter for the control group only
control_group = df_merged[df_merged['variation'] == 'Control']

# Sort by client_id and date_time to ensure chronological order of events
control_group = control_group.sort_values(by=['client_id', 'date_time'])

# Function to calculate completion time for each step in the control group
def calculate_completion_time(group_df):
    # Create a new column to store the completion time for each step
    group_df['next_step_time'] = group_df.groupby('client_id')['date_time'].shift(-1)
    
    # Only keep rows where the next step exists (i.e., not NaT)
    group_df = group_df.dropna(subset=['next_step_time'])
    
    # Calculate the completion time as the time difference between current and next step
    group_df['completion_time'] = group_df['next_step_time'] - group_df['date_time']
    
    return group_df[['client_id', 'process_step', 'date_time', 'next_step_time', 'completion_time']]

# Apply the function to the control group
control_group_completion_times = calculate_completion_time(control_group)

# Function to remove outliers using Z-score method
def remove_outliers_zscore(df, column_name, threshold=3):
    # Calculate the Z-scores
    z_scores = (df[column_name] - df[column_name].mean()) / df[column_name].std()
    
    # Filter out rows where Z-score is greater than the threshold (indicating an outlier)
    return df[np.abs(z_scores) <= threshold]

# Function to remove outliers using IQR method
def remove_outliers_iqr(df, column_name):
    # Calculate the IQR
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1
    
    # Filter out rows that are below Q1 - 1.5*IQR or above Q3 + 1.5*IQR
    return df[(df[column_name] >= Q1 - 1.5 * IQR) & (df[column_name] <= Q3 + 1.5 * IQR)]

# Remove outliers using Z-score
control_group_no_outliers_zscore = remove_outliers_zscore(control_group_completion_times, 'completion_time')

# Alternatively, remove outliers using IQR
control_group_no_outliers_iqr = remove_outliers_iqr(control_group_completion_times, 'completion_time')

# Calculate average completion time after removing outliers (Z-score)
average_completion_times_zscore = control_group_no_outliers_zscore.groupby('process_step')['completion_time'].mean().reset_index()

# Calculate average completion time after removing outliers (IQR)
average_completion_times_iqr = control_group_no_outliers_iqr.groupby('process_step')['completion_time'].mean().reset_index()

# Display the results
print("Average Completion Times (Z-score method):")
print(average_completion_times_zscore)

print("\nAverage Completion Times (IQR method):")
print(average_completion_times_iqr)

Average Completion Times (Z-score method):
  process_step           completion_time
0      confirm 1 days 15:03:32.220572057
1        start 0 days 08:37:48.481388120
2       step_1 0 days 04:07:12.722905358
3       step_2 0 days 02:07:03.572315953
4       step_3 0 days 04:14:04.067482055

Average Completion Times (IQR method):
  process_step           completion_time
0      confirm 0 days 00:00:46.759779614
1        start 0 days 00:00:32.379614568
2       step_1 0 days 00:00:33.825110701
3       step_2 0 days 00:01:11.280119052
4       step_3 0 days 00:01:15.113086530

C:\Users\Cecilia\AppData\Local\Temp\ipykernel_6272\349647999.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group_df['completion_time'] = group_df['next_step_time'] - group_df['date_time']

In [57]:
import pandas as pd
import numpy as np

# Ensure 'date_time' is of datetime type
df_merged['date_time'] = pd.to_datetime(df_merged['date_time'], errors='coerce')

# Filter for the test group only
test_group = df_merged[df_merged['variation'] == 'Test']

# Sort by client_id and date_time to ensure chronological order of events
test_group = test_group.sort_values(by=['client_id', 'date_time'])

# Function to calculate completion time for each step in the test group
def calculate_completion_time(group_df):
    # Create a new column to store the completion time for each step
    group_df['next_step_time'] = group_df.groupby('client_id')['date_time'].shift(-1)
    
    # Only keep rows where the next step exists (i.e., not NaT)
    group_df = group_df.dropna(subset=['next_step_time'])
    
    # Calculate the completion time as the time difference between current and next step
    group_df['completion_time'] = group_df['next_step_time'] - group_df['date_time']
    
    return group_df[['client_id', 'process_step', 'date_time', 'next_step_time', 'completion_time']]

# Apply the function to the test group
test_group_completion_times = calculate_completion_time(test_group)

# Function to remove outliers using Z-score method
def remove_outliers_zscore(df, column_name, threshold=3):
    # Calculate the Z-scores
    z_scores = (df[column_name] - df[column_name].mean()) / df[column_name].std()
    
    # Filter out rows where Z-score is greater than the threshold (indicating an outlier)
    return df[np.abs(z_scores) <= threshold]

# Function to remove outliers using IQR method
def remove_outliers_iqr(df, column_name):
    # Calculate the IQR
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1
    
    # Filter out rows that are below Q1 - 1.5*IQR or above Q3 + 1.5*IQR
    return df[(df[column_name] >= Q1 - 1.5 * IQR) & (df[column_name] <= Q3 + 1.5 * IQR)]

# Remove outliers using Z-score
test_group_no_outliers_zscore = remove_outliers_zscore(test_group_completion_times, 'completion_time')

# Alternatively, remove outliers using IQR
test_group_no_outliers_iqr = remove_outliers_iqr(test_group_completion_times, 'completion_time')

# Calculate average completion time after removing outliers (Z-score)
average_completion_times_zscore = test_group_no_outliers_zscore.groupby('process_step')['completion_time'].mean().reset_index()

# Calculate average completion time after removing outliers (IQR)
average_completion_times_iqr = test_group_no_outliers_iqr.groupby('process_step')['completion_time'].mean().reset_index()

# Display the results
print("Average Completion Times (Z-score method):")
print(average_completion_times_zscore)

print("\nAverage Completion Times (IQR method):")
print(average_completion_times_iqr)

Average Completion Times (Z-score method):
  process_step           completion_time
0      confirm 1 days 13:37:49.074216524
1        start 0 days 07:03:57.558949063
2       step_1 0 days 03:05:12.195431402
3       step_2 0 days 01:31:49.043561607
4       step_3 0 days 02:34:01.954097962

Average Completion Times (IQR method):
  process_step           completion_time
0      confirm 0 days 00:01:13.727586206
1        start 0 days 00:00:30.646762285
2       step_1 0 days 00:00:39.209762958
3       step_2 0 days 00:01:07.075556187
4       step_3 0 days 00:01:04.705025631

C:\Users\Cecilia\AppData\Local\Temp\ipykernel_6272\3773383250.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group_df['completion_time'] = group_df['next_step_time'] - group_df['date_time']

In [65]:
import pandas as pd

# Sample DataFrame df_merged with 'clnt_age', 'process_duration', and 'variation' columns
data = {
    'clnt_age': [25, 35, 42, 55, 29, 48, 33, 60, 19, 52],  # Example ages
    'process_duration': [120, 150, 200, 250, 130, 180, 160, 270, 110, 240],  # Example process durations (in seconds)
    'variation': ['Test', 'Control', 'Test', 'Control', 'Test', 'Control', 'Test', 'Control', 'Test', 'Control']  # Example group labels
}
df_merged = pd.DataFrame(data)

# Define age bins and labels
bins = [0, 30, 40, 50, 100]  # Age bins
labels = ['Under 30', '30-39', '40-49', '50 and above']  # Age group labels

# Categorize ages into the defined bins and add a new 'age_group' column
df_merged['age_group'] = pd.cut(df_merged['clnt_age'], bins=bins, labels=labels)

# Calculate process rate (1 / process_duration) for each row
df_merged['process_rate'] = 1 / df_merged['process_duration']

# Filter for Test and Control groups
test_group = df_merged[df_merged['variation'] == 'Test']
control_group = df_merged[df_merged['variation'] == 'Control']

# Calculate the average process rate for each age group within the Test group
avg_process_rate_test = test_group.groupby('age_group')['process_rate'].mean()

# Calculate the average process rate for each age group within the Control group
avg_process_rate_control = control_group.groupby('age_group')['process_rate'].mean()

# Display the results
print("Average Process Rate for Test Group:")
print(avg_process_rate_test)

print("\nAverage Process Rate for Control Group:")
print(avg_process_rate_control)

Average Process Rate for Test Group:
age_group
Under 30        0.008372
30-39           0.006250
40-49           0.005000
50 and above         NaN
Name: process_rate, dtype: float64

Average Process Rate for Control Group:
age_group
Under 30             NaN
30-39           0.006667
40-49           0.005556
50 and above    0.003957
Name: process_rate, dtype: float64

C:\Users\Cecilia\AppData\Local\Temp\ipykernel_6272\3737360533.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_process_rate_test = test_group.groupby('age_group')['process_rate'].mean()
C:\Users\Cecilia\AppData\Local\Temp\ipykernel_6272\3737360533.py:29: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_process_rate_control = control_group.groupby('age_group')['process_rate'].mean()

In [69]:
import pandas as pd
import numpy as np

# Sample DataFrame with 'group' for Test and Control
data = {
    'process_step': ['confirm', 'start', 'step_1', 'step_2', 'step_3', 'confirm', 'start', 'step_1', 'step_2', 'step_3'],
    'date_time': pd.to_datetime([
        '2024-11-20 10:00:00', '2024-11-20 08:00:00', '2024-11-20 08:15:00', 
        '2024-11-20 09:00:00', '2024-11-20 09:30:00', '2024-11-21 10:00:00', 
        '2024-11-21 08:10:00', '2024-11-21 08:40:00', '2024-11-21 09:20:00', '2024-11-21 09:45:00'
    ]),
    'client_id': [1, 1, 1, 1, 1, 2, 2, 2, 2, 2],
    'group': ['Control', 'Control', 'Control', 'Control', 'Control', 'Test', 'Test', 'Test', 'Test', 'Test'],
    'process_duration': [120, 150, 200, 250, 130, 180, 160, 270, 110, 240]
}

# Create DataFrame
df_merged = pd.DataFrame(data)

# Function to calculate average process time for each step
def calculate_average_times(df):
    avg_times = df.groupby('process_step')['process_duration'].mean().reset_index()
    avg_times['completion_time'] = pd.to_timedelta(avg_times['process_duration'], unit='s')
    return avg_times[['process_step', 'completion_time']]

# Outlier Detection using Z-score method (without scipy)
def detect_outliers_zscore(df, column_name, threshold=3):
    mean = df[column_name].mean()
    std_dev = df[column_name].std()
    z_scores = (df[column_name] - mean) / std_dev
    return df[np.abs(z_scores) > threshold]

# IQR method for outlier detection
def detect_outliers_iqr(df, column_name):
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1
    return df[(df[column_name] < (Q1 - 1.5 * IQR)) | (df[column_name] > (Q3 + 1.5 * IQR))]

# Function to apply the analysis for both Test and Control groups
def analyze_groups(df):
    # Separate the data by group (Test and Control)
    test_group = df[df['group'] == 'Test']
    control_group = df[df['group'] == 'Control']

    # Remove outliers using Z-score and IQR methods for Test group
    test_group_zscore = test_group[~test_group['process_duration'].isin(detect_outliers_zscore(test_group, 'process_duration')['process_duration'])]
    test_group_iqr = test_group[~test_group['process_duration'].isin(detect_outliers_iqr(test_group, 'process_duration')['process_duration'])]

    # Remove outliers using Z-score and IQR methods for Control group
    control_group_zscore = control_group[~control_group['process_duration'].isin(detect_outliers_zscore(control_group, 'process_duration')['process_duration'])]
    control_group_iqr = control_group[~control_group['process_duration'].isin(detect_outliers_iqr(control_group, 'process_duration')['process_duration'])]

    # Calculate the average times for each group after removing outliers
    avg_times_test_zscore = calculate_average_times(test_group_zscore)
    avg_times_test_iqr = calculate_average_times(test_group_iqr)

    avg_times_control_zscore = calculate_average_times(control_group_zscore)
    avg_times_control_iqr = calculate_average_times(control_group_iqr)

    # Display results
    print("Test Group Average Completion Times (Z-score method):")
    print(avg_times_test_zscore.to_string(index=False))

    print("\nTest Group Average Completion Times (IQR method):")
    print(avg_times_test_iqr.to_string(index=False))

    print("\nControl Group Average Completion Times (Z-score method):")
    print(avg_times_control_zscore.to_string(index=False))

    print("\nControl Group Average Completion Times (IQR method):")
    print(avg_times_control_iqr.to_string(index=False))

# Call the function to analyze both groups
analyze_groups(df_merged)

Test Group Average Completion Times (Z-score method):
process_step completion_time
     confirm 0 days 00:03:00
       start 0 days 00:02:40
      step_1 0 days 00:04:30
      step_2 0 days 00:01:50
      step_3 0 days 00:04:00

Test Group Average Completion Times (IQR method):
process_step completion_time
     confirm 0 days 00:03:00
       start 0 days 00:02:40
      step_1 0 days 00:04:30
      step_2 0 days 00:01:50
      step_3 0 days 00:04:00

Control Group Average Completion Times (Z-score method):
process_step completion_time
     confirm 0 days 00:02:00
       start 0 days 00:02:30
      step_1 0 days 00:03:20
      step_2 0 days 00:04:10
      step_3 0 days 00:02:10

Control Group Average Completion Times (IQR method):
process_step completion_time
     confirm 0 days 00:02:00
       start 0 days 00:02:30
      step_1 0 days 00:03:20
      step_2 0 days 00:04:10
      step_3 0 days 00:02:10

In [71]:
import pandas as pd
import numpy as np

# Sample DataFrame with 'clnt_age' and 'gender' columns added
data = {
    'process_step': ['confirm', 'start', 'step_1', 'step_2', 'step_3', 'confirm', 'start', 'step_1', 'step_2', 'step_3'],
    'date_time': pd.to_datetime([
        '2024-11-20 10:00:00', '2024-11-20 08:00:00', '2024-11-20 08:15:00', 
        '2024-11-20 09:00:00', '2024-11-20 09:30:00', '2024-11-21 10:00:00', 
        '2024-11-21 08:10:00', '2024-11-21 08:40:00', '2024-11-21 09:20:00', '2024-11-21 09:45:00'
    ]),
    'client_id': [1, 1, 1, 1, 1, 2, 2, 2, 2, 2],
    'group': ['Test', 'Test', 'Test', 'Test', 'Test', 'Control', 'Control', 'Control', 'Control', 'Control'],
    'process_duration': [120, 150, 200, 250, 130, 180, 160, 270, 110, 240],  # process duration in seconds
    'clnt_age': [25, 35, 42, 55, 29, 48, 33, 60, 19, 52],  # Client age
    'gender': ['Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male']  # Client gender
}

# Create DataFrame
df_merged = pd.DataFrame(data)

# Define age bins and labels
bins = [0, 30, 40, 50, 100]  # Age bins
labels = ['Under 30', '30-39', '40-49', '50 and above']  # Age group labels

# Categorize ages into the defined bins and add a new 'age_group' column
df_merged['age_group'] = pd.cut(df_merged['clnt_age'], bins=bins, labels=labels)

# Define function to calculate average process time for each step
def calculate_average_times(df):
    avg_times = df.groupby('process_step')['process_duration'].mean().reset_index()
    avg_times['completion_time'] = pd.to_timedelta(avg_times['process_duration'], unit='s')
    return avg_times[['process_step', 'completion_time']]

# Outlier Detection using Z-score method (without scipy)
def detect_outliers_zscore(df, column_name, threshold=3):
    mean = df[column_name].mean()
    std_dev = df[column_name].std()
    z_scores = (df[column_name] - mean) / std_dev
    return df[np.abs(z_scores) > threshold]

# IQR method for outlier detection
def detect_outliers_iqr(df, column_name):
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1
    return df[(df[column_name] < (Q1 - 1.5 * IQR)) | (df[column_name] > (Q3 + 1.5 * IQR))]

# Function to process each group (Test or Control)
def process_group(df, group_name):
    group_df = df[df['group'] == group_name]

    # Remove outliers using Z-score and IQR methods
    group_zscore = group_df[~group_df['process_duration'].isin(detect_outliers_zscore(group_df, 'process_duration')['process_duration'])]
    group_iqr = group_df[~group_df['process_duration'].isin(detect_outliers_iqr(group_df, 'process_duration')['process_duration'])]

    # Calculate the average times after filtering out outliers
    avg_times_zscore = calculate_average_times(group_zscore)
    avg_times_iqr = calculate_average_times(group_iqr)

    return avg_times_zscore, avg_times_iqr

# Function to calculate average times by age group and gender
def calculate_avg_times_by_age_gender(df, group_name, age_group, gender):
    # Filter the dataframe based on group, age group, and gender
    filtered_df = df[(df['group'] == group_name) & (df['age_group'] == age_group) & (df['gender'] == gender)]
    
    # Calculate the average process times for the filtered dataframe
    avg_times = calculate_average_times(filtered_df)
    
    return avg_times

# Function to analyze both Test and Control groups and display results
def analyze_groups(df):
    # Process both Test and Control groups
    for group_name in df['group'].unique():
        print(f"\nProcessing {group_name} Group...")

        # Process the group to remove outliers and calculate average times
        avg_times_zscore, avg_times_iqr = process_group(df, group_name)

        print(f"\n{group_name} Group Average Completion Times (Z-score method):")
        print(avg_times_zscore.to_string(index=False))

        print(f"\n{group_name} Group Average Completion Times (IQR method):")
        print(avg_times_iqr.to_string(index=False))

        # Now calculate and display average times for each age group and gender
        for age_group in df['age_group'].unique():
            for gender in df['gender'].unique():
                print(f"\n{group_name} Group - Average Completion Times for Age Group: {age_group} and Gender: {gender} (Z-score method):")
                avg_times_zscore_by_age_gender = calculate_avg_times_by_age_gender(df, group_name, age_group, gender)
                print(avg_times_zscore_by_age_gender.to_string(index=False))

                print(f"\n{group_name} Group - Average Completion Times for Age Group: {age_group} and Gender: {gender} (IQR method):")
                avg_times_iqr_by_age_gender = calculate_avg_times_by_age_gender(df, group_name, age_group, gender)
                print(avg_times_iqr_by_age_gender.to_string(index=False))

# Call the function to analyze both groups
analyze_groups(df_merged)

Processing Test Group...

Test Group Average Completion Times (Z-score method):
process_step completion_time
     confirm 0 days 00:02:00
       start 0 days 00:02:30
      step_1 0 days 00:03:20
      step_2 0 days 00:04:10
      step_3 0 days 00:02:10

Test Group Average Completion Times (IQR method):
process_step completion_time
     confirm 0 days 00:02:00
       start 0 days 00:02:30
      step_1 0 days 00:03:20
      step_2 0 days 00:04:10
      step_3 0 days 00:02:10

Test Group - Average Completion Times for Age Group: Under 30 and Gender: Male (Z-score method):
process_step completion_time
     confirm 0 days 00:02:00

Test Group - Average Completion Times for Age Group: Under 30 and Gender: Male (IQR method):
process_step completion_time
     confirm 0 days 00:02:00

Test Group - Average Completion Times for Age Group: Under 30 and Gender: Female (Z-score method):
process_step completion_time
      step_3 0 days 00:02:10

Test Group - Average Completion Times for Age Group: Under 30 and Gender: Female (IQR method):
process_step completion_time
      step_3 0 days 00:02:10

Test Group - Average Completion Times for Age Group: 30-39 and Gender: Male (Z-score method):
Empty DataFrame
Columns: [process_step, completion_time]
Index: []

Test Group - Average Completion Times for Age Group: 30-39 and Gender: Male (IQR method):
Empty DataFrame
Columns: [process_step, completion_time]
Index: []

Test Group - Average Completion Times for Age Group: 30-39 and Gender: Female (Z-score method):
process_step completion_time
       start 0 days 00:02:30

Test Group - Average Completion Times for Age Group: 30-39 and Gender: Female (IQR method):
process_step completion_time
       start 0 days 00:02:30

Test Group - Average Completion Times for Age Group: 40-49 and Gender: Male (Z-score method):
Empty DataFrame
Columns: [process_step, completion_time]
Index: []

Test Group - Average Completion Times for Age Group: 40-49 and Gender: Male (IQR method):
Empty DataFrame
Columns: [process_step, completion_time]
Index: []

Test Group - Average Completion Times for Age Group: 40-49 and Gender: Female (Z-score method):
process_step completion_time
      step_1 0 days 00:03:20

Test Group - Average Completion Times for Age Group: 40-49 and Gender: Female (IQR method):
process_step completion_time
      step_1 0 days 00:03:20

Test Group - Average Completion Times for Age Group: 50 and above and Gender: Male (Z-score method):
process_step completion_time
      step_2 0 days 00:04:10

Test Group - Average Completion Times for Age Group: 50 and above and Gender: Male (IQR method):
process_step completion_time
      step_2 0 days 00:04:10

Test Group - Average Completion Times for Age Group: 50 and above and Gender: Female (Z-score method):
Empty DataFrame
Columns: [process_step, completion_time]
Index: []

Test Group - Average Completion Times for Age Group: 50 and above and Gender: Female (IQR method):
Empty DataFrame
Columns: [process_step, completion_time]
Index: []

Processing Control Group...

Control Group Average Completion Times (Z-score method):
process_step completion_time
     confirm 0 days 00:03:00
       start 0 days 00:02:40
      step_1 0 days 00:04:30
      step_2 0 days 00:01:50
      step_3 0 days 00:04:00

Control Group Average Completion Times (IQR method):
process_step completion_time
     confirm 0 days 00:03:00
       start 0 days 00:02:40
      step_1 0 days 00:04:30
      step_2 0 days 00:01:50
      step_3 0 days 00:04:00

Control Group - Average Completion Times for Age Group: Under 30 and Gender: Male (Z-score method):
Empty DataFrame
Columns: [process_step, completion_time]
Index: []

Control Group - Average Completion Times for Age Group: Under 30 and Gender: Male (IQR method):
Empty DataFrame
Columns: [process_step, completion_time]
Index: []

Control Group - Average Completion Times for Age Group: Under 30 and Gender: Female (Z-score method):
process_step completion_time
      step_2 0 days 00:01:50

Control Group - Average Completion Times for Age Group: Under 30 and Gender: Female (IQR method):
process_step completion_time
      step_2 0 days 00:01:50

Control Group - Average Completion Times for Age Group: 30-39 and Gender: Male (Z-score method):
Empty DataFrame
Columns: [process_step, completion_time]
Index: []

Control Group - Average Completion Times for Age Group: 30-39 and Gender: Male (IQR method):
Empty DataFrame
Columns: [process_step, completion_time]
Index: []

Control Group - Average Completion Times for Age Group: 30-39 and Gender: Female (Z-score method):
process_step completion_time
       start 0 days 00:02:40

Control Group - Average Completion Times for Age Group: 30-39 and Gender: Female (IQR method):
process_step completion_time
       start 0 days 00:02:40

Control Group - Average Completion Times for Age Group: 40-49 and Gender: Male (Z-score method):
process_step completion_time
     confirm 0 days 00:03:00

Control Group - Average Completion Times for Age Group: 40-49 and Gender: Male (IQR method):
process_step completion_time
     confirm 0 days 00:03:00

Control Group - Average Completion Times for Age Group: 40-49 and Gender: Female (Z-score method):
Empty DataFrame
Columns: [process_step, completion_time]
Index: []

Control Group - Average Completion Times for Age Group: 40-49 and Gender: Female (IQR method):
Empty DataFrame
Columns: [process_step, completion_time]
Index: []

Control Group - Average Completion Times for Age Group: 50 and above and Gender: Male (Z-score method):
process_step completion_time
      step_1 0 days 00:04:30
      step_3 0 days 00:04:00

Control Group - Average Completion Times for Age Group: 50 and above and Gender: Male (IQR method):
process_step completion_time
      step_1 0 days 00:04:30
      step_3 0 days 00:04:00

Control Group - Average Completion Times for Age Group: 50 and above and Gender: Female (Z-score method):
Empty DataFrame
Columns: [process_step, completion_time]
Index: []

Control Group - Average Completion Times for Age Group: 50 and above and Gender: Female (IQR method):
Empty DataFrame
Columns: [process_step, completion_time]
Index: []

In [17]:
import pandas as pd
import numpy as np

# Sample DataFrame with 'clnt_age' and 'gender' columns added
data = {
    'process_step': ['confirm', 'start', 'step_1', 'step_2', 'step_3', 'confirm', 'start', 'step_1', 'step_2', 'step_3'],
    'date_time': pd.to_datetime([
        '2024-11-20 10:00:00', '2024-11-20 08:00:00', '2024-11-20 08:15:00', 
        '2024-11-20 09:00:00', '2024-11-20 09:30:00', '2024-11-21 10:00:00', 
        '2024-11-21 08:10:00', '2024-11-21 08:40:00', '2024-11-21 09:20:00', '2024-11-21 09:45:00'
    ]),
    'client_id': [1, 1, 1, 1, 1, 2, 2, 2, 2, 2],
    'group': ['test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test'],
    'process_duration': [120, 150, 200, 250, 130, 180, 160, 270, 110, 240],  # process duration in seconds
    'clnt_age': [25, 35, 42, 55, 29, 48, 33, 60, 19, 52],  # Client age
    'gender': ['Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male']  # Client gender
}

# Create DataFrame
df_merged = pd.DataFrame(data)

# Define age bins and labels
bins = [0, 30, 40, 50, 100]  # Age bins
labels = ['Under 30', '30-39', '40-49', '50 and above']  # Age group labels

# Categorize ages into the defined bins and add a new 'age_group' column
df_merged['age_group'] = pd.cut(df_merged['clnt_age'], bins=bins, labels=labels)

# Define function to calculate average process time for each step
def calculate_average_times(df):
    avg_times = df.groupby('process_step')['process_duration'].mean().reset_index()
    avg_times['completion_time'] = pd.to_timedelta(avg_times['process_duration'], unit='s')
    return avg_times[['process_step', 'completion_time']]

# Outlier Detection using Z-score method (without scipy)
def detect_outliers_zscore(df, column_name, threshold=3):
    mean = df[column_name].mean()
    std_dev = df[column_name].std()
    z_scores = (df[column_name] - mean) / std_dev
    return df[np.abs(z_scores) > threshold]

# IQR method for outlier detection
def detect_outliers_iqr(df, column_name):
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1
    return df[(df[column_name] < (Q1 - 1.5 * IQR)) | (df[column_name] > (Q3 + 1.5 * IQR))]

# Filter out outliers using Z-score and IQR methods
df_merged_zscore = df_merged[~df_merged['process_duration'].isin(detect_outliers_zscore(df_merged, 'process_duration')['process_duration'])]
df_merged_iqr = df_merged[~df_merged['process_duration'].isin(detect_outliers_iqr(df_merged, 'process_duration')['process_duration'])]

# Group by 'age_group' and 'gender', and calculate the average process times
def calculate_avg_times_by_age_gender(df, age_group):
    filtered_df = df[(df['age_group'] == age_group)]
    
    # Calculate the average times after filtering by age group and gender
    avg_times = calculate_average_times(filtered_df)
    
    return avg_times

# Iterate over all age groups and genders to display the results
for age_group in df_merged['age_group'].unique():
    for gender in df_merged['gender'].unique():
        print(f"\nAverage Completion Times for Age Group: {age_group} (Z-score method):")
        avg_times_zscore = calculate_avg_times_by_age_gender(df_merged_zscore, age_group)
        print(avg_times_zscore.to_string(index=False))

        print(f"\nAverage Completion Times for Age Group: {age_group} (IQR method):")
        avg_times_iqr = calculate_avg_times_by_age_gender(df_merged_iqr, age_group)
        print(avg_times_iqr.to_string(index=False))

Average Completion Times for Age Group: Under 30 (Z-score method):
process_step completion_time
     confirm 0 days 00:02:00
      step_2 0 days 00:01:50
      step_3 0 days 00:02:10

Average Completion Times for Age Group: Under 30 (IQR method):
process_step completion_time
     confirm 0 days 00:02:00
      step_2 0 days 00:01:50
      step_3 0 days 00:02:10

Average Completion Times for Age Group: Under 30 (Z-score method):
process_step completion_time
     confirm 0 days 00:02:00
      step_2 0 days 00:01:50
      step_3 0 days 00:02:10

Average Completion Times for Age Group: Under 30 (IQR method):
process_step completion_time
     confirm 0 days 00:02:00
      step_2 0 days 00:01:50
      step_3 0 days 00:02:10

Average Completion Times for Age Group: 30-39 (Z-score method):
process_step completion_time
       start 0 days 00:02:35

Average Completion Times for Age Group: 30-39 (IQR method):
process_step completion_time
       start 0 days 00:02:35

Average Completion Times for Age Group: 30-39 (Z-score method):
process_step completion_time
       start 0 days 00:02:35

Average Completion Times for Age Group: 30-39 (IQR method):
process_step completion_time
       start 0 days 00:02:35

Average Completion Times for Age Group: 40-49 (Z-score method):
process_step completion_time
     confirm 0 days 00:03:00
      step_1 0 days 00:03:20

Average Completion Times for Age Group: 40-49 (IQR method):
process_step completion_time
     confirm 0 days 00:03:00
      step_1 0 days 00:03:20

Average Completion Times for Age Group: 40-49 (Z-score method):
process_step completion_time
     confirm 0 days 00:03:00
      step_1 0 days 00:03:20

Average Completion Times for Age Group: 40-49 (IQR method):
process_step completion_time
     confirm 0 days 00:03:00
      step_1 0 days 00:03:20

Average Completion Times for Age Group: 50 and above (Z-score method):
process_step completion_time
      step_1 0 days 00:04:30
      step_2 0 days 00:04:10
      step_3 0 days 00:04:00

Average Completion Times for Age Group: 50 and above (IQR method):
process_step completion_time
      step_1 0 days 00:04:30
      step_2 0 days 00:04:10
      step_3 0 days 00:04:00

Average Completion Times for Age Group: 50 and above (Z-score method):
process_step completion_time
      step_1 0 days 00:04:30
      step_2 0 days 00:04:10
      step_3 0 days 00:04:00

Average Completion Times for Age Group: 50 and above (IQR method):
process_step completion_time
      step_1 0 days 00:04:30
      step_2 0 days 00:04:10
      step_3 0 days 00:04:00